:root{

	--bg-white: rgb(26, 25, 25);
	--text-white: #fff;
	--bg-container: #323233;
	--border-gray: gray;

}

body{   
	
	background: var(--bg-white);
	color: var(--text-white);
	position: relative;
	min-height: 100%;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
}

.dark {
	--bg-white: #fff;
	--bg-container: rgb(209, 208, 208);
	--text-white: #000;
	--border-gray: rgb(209, 205, 205);

}

.container{
	width: 90%;
	
}

*{
	padding: 0;
	margin: 0;
}


header{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	background: var(--bg-container);
	top: 0;
	left: 0;
	z-index: 1;

} 

.nav-menu{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
	background: var(--bg-container);
	color: var(--text-white);
	position: absolute;
	top: 3em;
	height: 420px;
	padding: 0.5em 0;
	left: 100%;
	-webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
}

.main-active{
	left: 0;
}

.nav-menu nav{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 1em 0;
}

.menu-item{
	width: 90%;
	border-top: 1px solid var(--border-gray);
	padding: 1em;
}

.menu-item:nth-child(5){
	border-bottom: 1px solid var(--border-gray);

}

.nav-menu nav a{
	text-decoration: none;
	color: var(--text-white);
	
}

.mlog-out{
	width: 80%;
	background: var(--text-white);
	color: rgb(21, 180, 21);
	border-radius: 5px;
	padding: 0.5em 0;
	text-align: center;
	margin-top: 2em;
}

.mlog-out a{
	text-decoration: none;
	color: rgb(21, 180, 21);
	font-weight: bold;
}

.dark-mode{
	width: 90%;
	display: flex;
	justify-content: flex-start;
	text-align: left;
	padding: 1em;
	
}

.b-toggle{
	border: 1px solid red;
}


.dark-mode i{
	font-size: 23px;
	color: var(--text-white);
}





.head-menu{
	width: 100%;
	padding: 0.3em 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto
	
}

.big-screen-nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60%;	

}

.big-screen-nav a{
	color: var(--text-white);
	margin-right: 0.8em;
	text-decoration: none;
	font-size: 1em;
}

.hamburger{
	display: none;
}



.head-icon{
	width: 15%;
	text-align: left;
	
}

.head-icon img{
	width: 50px;
	height: 100%;
	object-fit: contain;
}

.head-icon a{
        display: block;
	justify-content: flex-start;
	align-items: flex-start;
	float: left;
	width: 100%;
	height: 40px;
	color: rgb(33, 182, 33);
	text-decoration: none;
}


.search-icon{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 20%;
	text-align: right;
	position: relative;
	
	
}

.search-icon i {
	font-size: 18px;

}

.search-icon a{
	text-decoration: none;
	font-size: 20px;
	margin-left: 0.8em;
	color: var(--text-white);
}

.search-page{
	width: 40%;
	display: none;
	position: absolute;
	margin-top: 90px;
	transition: 10s all ease-in;
}

.search-page input{
	width: 80%;
	padding: 8px;
	background: var(--bg-white);
	color: var(--text-white);
	border-radius: 5px;
	margin-right: 0.3em;

}

.remove-btn{
	display: none;
}

.search-page button{
	width: 10%;
	background: var(--bg-white);;
	border-radius: 5px;

}


.posts-about{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 3em;
	margin-bottom: 8em;
	padding-bottom: 5em;
}

.posts-about .container{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

}



.posts{
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
        
} 


.post-detail{
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
        
} 

.post-container{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	border-bottom: 1px solid var(--border-gray);
	margin-top: 1em; 
	
}

.post-content{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 2em; 
}

.post-content img{
	width: 100%;
	height: 400px;
	margin: 1em 0;
}

.post-content .post-body{
	color: var(--text-white);
	margin-top: 0.5em;
	text-align: justify;
	font-size: 18px;
	
}

.post-content .post-title{
	font-size: 1.5em;
}

.post-created{
	margin: 0.5em 0;
}


.post-title{
	width: 100%;
	font-size: 1.3em;
}

.post-title a{
	text-decoration: none;
	color: var(--text-white);
}

.post-body{
	width: 100%;
	color: gray;
        margin-bottom: 1em;
	margin-top: 0.5em;
} 

.post-body p{
	width: 100%;
}

.post-content .post-body pre{

	width: 100%;
	background: #000;
	color: rgb(167, 233, 60);
	margin: 0.9em 0;
	font-size: 14px;
	overflow: auto;
	height: 300px;
	scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* Internet Explorer 10+ */

}


.post-content .post-body pre::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.post-content .post-body code{
	width: 100%;
	

}

.comment-body pre{
	width: 100%;
	background: #000;
	color: rgb(167, 233, 60);
	margin: 0.9em 0;
	font-size: 14px;
	overflow: auto;
	height: 300px;
	scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* Internet Explorer 10+ */

}


.comment-body pre::-webkit-scrollbar { /* WebKit */
	width: 0;
	height: 0;
    }
    
.comment-body pre code{
	    width: 100%;
	    
    
    }

.like{
	width: 30%;
	border: 1px solid pink;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	padding: 1em;
	font-size: 20px;
	font-weight: bold;
	margin: 1em 0;
	cursor: pointer;
}

.like i{
	margin: 0 0.8em;
}

.like span{
	margin: 0 0.8em;
}

.comments{
	width: 100%;
	display: block;
	margin: 1em 0;
}

.comments h2{
	border-bottom: 1px solid var(--border-gray);
}

.comment-container{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 0.5em 0;
	border-bottom: 1px solid var(--border-gray);
}

.comment-container .user{
	width: 100%;
	display: flex;
}

.comment-container .user span{
	margin-left: 0.7em;
	font-weight: bolder;
}

.comment-container .user img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.comment-body{
	width: 100%;
	padding: 1em 0;
}

.add-comment{
	width: 100%;
	
}

.add-comment form{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;

}

.add-comment textarea{
	width: 100%;
}

.add-comment form h3{
	margin-bottom: 0.5em;
}


.add-comment button{
	width: 20%;
	margin-top: 5em;
	padding: 8px;
	background: rgb(77, 177, 77);
	color: #fff;
	border: none;
	font-weight: bold;
	font-size: 15px;
	border-radius: 5px;
}


.color-green a{
	color: green;
	text-decoration: none;
}



.action-btns{
	color: green;
	margin-bottom: 0.5em;
}
.tags{
	display: flex;
	align-items: center;
	color: green;
	margin: 0.5em 0;
}

.tag-names{
	display: flex;
	align-items: center;
	flex-wrap: wrap;


}

.tags a{
	text-decoration: none;
	color: green;
	margin: 0 0.3em;

}


.author-rcm{
	width: 27%;
	margin-top: 3em;
	
	
}

.about-author{
	display: block;
	width: 100%;
}

.about-author img{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	display: flex;
	margin: 1em auto;
	
} 

.author{
	color: var(--text-white);
}

.author-name{
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	color: var(--text-white);
}

.social {
	display: flex;
	margin-top: 1em;
}

.social a{
	text-decoration: none;
	color: green;
	margin: 0.3em;
}

.login-regpage{
	width: 40%;
	display: none;
	justify-content: center;
	align-items: center;
	margin: auto;
	padding: 1em;
	position: relative;
	
}

.active{
	display: flex;
}
.login-page{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 3.5em;
	width: 35%;
	border: 10px solid rgb(201, 199, 199);
	background: var(--text-white);
	margin: auto;
	color: var(--bg-white);
}

.login-page p{
	font-size: 22px;
	color: var(--bg-white);
	font-weight: bold;
	margin-top: 0.3em;

}

.click-links{
	width: 100%;
	display: flex;
	justify-content: center;
}

.click-links span{
	margin-left: 1em;
	margin-right: 1em;
	width: 30%;
	padding: 0.5em;
	font-size: 19px;
	font-weight: bold;
	text-align: center;
	color: var(--bg-white);
	cursor: pointer;
}

.register-login{
	width: 90%;
	padding: 0 1em;
	
	margin: 1em 0;
	
}

.logi{
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 1em 0;
	
}

.logi a{
	width: 90%;
	background: green;
	padding: 0.5em;
	text-decoration: none;
	text-align: center;
	color: #fff;
	border-radius: 5px;
}

.page{
	width: 100%;
	display: flex;
	
}

.page form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;
}

.input-data{
	width: 90%;
	border: 1px solid rgb(202, 199, 199);
	padding: 0.2em 0.5em;
	margin-top: 0.8em;
	display: flex;
	align-items: center;
	border-radius: 5px;
}

.input-data input{
	width: 80%;
	border: none;
	margin-left: 0.7em;
	padding: 1em;
	background: #fff;
}

.input-data input:focus{
	border: 1px solid green;
}

.forget-p{
	width: 93%;
	text-align: left;
	display: flex;
	margin-top: 0.7em;
}

.forget-p a{
	color: darkgreen;
	text-decoration: none;
	font-size: 15px;
}

.page button{
	width: 93%;
	padding: 0.6em;
	background: rgb(55, 173, 55);
	border: 1px solid rgb(53, 163, 53);
	margin: 0.7em 0;
	font-size: 17px;
	font-weight: bold;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}


.or-social{
	width: 95%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.or-social hr{
    width: 35%;
    margin: 0 0.7em;
}

.social-login{
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	
}

.social-login a{
	width: 40%;
	text-decoration: none;

}

.so-container{
	width: 100%;
	margin: 0.7em 0;
	padding: 0.7em 0.5em;
	display: flex;
	align-items: center;
	color: #fff;

}

.so-container p{
	font-size: 16px;
	color: #fff;
	margin:0;
	border-left: 1px solid gray;
	text-align: center;
	width: 80%;
}

.so-container i{
	margin-right: 0.5em;
	
}

.red-g{
	background: rgb(240, 72, 72);
}

.blue-f{
	background: rgb(90, 90, 212);
}

.blue-l{
	background: rgb(103, 43, 214);
}

.gray-g{
	background: rgb(48, 46, 46);
}


.Reg-log-page{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 5em;
	margin-bottom: 5em;
	padding-bottom: 5em;
}

.Reg-log-page form{
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #fff;
	color: #000;
	margin: 1em;
	padding: 1em;
}


.input-data{
	width: 90%;
	border: 1px solid rgb(202, 199, 199);
	padding: 0.2em 0.5em;
	margin-top: 0.8em;
	display: flex;
	align-items: center;
	border-radius: 5px;
}

.input-data input{
	width: 80%;
	border: none;
	margin-left: 0.7em;
	padding: 1em;
	background: #fff;
}


.forget-psd{
	width: 100%;
	text-align: left;
	display: flex;
	flex-direction: column;
	margin-top: 0.7em;
	padding: 1em;
}

.forget-psd a{
	color: gray;
	text-decoration: none;
	font-size: 15px;
}

.Reg-log-page button{
	width: 93%;
	padding: 0.6em;
	background: rgb(55, 173, 55);
	border: 1px solid rgb(53, 163, 53);
	margin: 1em 0;
	font-size: 17px;
	font-weight: bold;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}

.reg-form{
	
	width: 90%;
	padding: 0.7em;
        border-radius: 8px;
        border: 1px solid #ccc;
        margin-top: 0.2em;
}


.Reg-log-page p{
	width: 100%;
	margin-top: 0.8em;
}

.paginator{
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 3em 0;
	
}

.num{
	width: 40px;
	margin: 0 0.3em;
	
	background: var(--bg-container);
	color: white;
	text-align: center;
}


.c-num{
	width: 40px;
	margin: 0 0.3em;
	background:rgb(11, 105, 11);
	color: white;
	text-align: center;
}


.num a {
	text-decoration: none;
	color: var(--text-white);
	width: 100%;
	display: flex;
	text-align: center;
	justify-content: center;
	padding: 8px 0;
	
}


.c-num a {
	text-decoration: none;
	color: #fff;
	width: 100%;
	display: flex;
	text-align: center;
	justify-content: center;
	padding: 8px 0;
	
}

.related-post{
	width: 100%;
	margin-top: 2em;
	margin-bottom: 1em;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}


.related-post h3{
	width: 100%;
	padding-bottom: 5px;
	margin-bottom: 1em;
	font-size: 1.5em;
	color:rgb(11, 105, 11);
	border-bottom: 1px solid rgb(68, 68, 68);
}

.related-post a{
	margin-bottom: 1em;
	color:var(--text-white);;
	text-decoration: none;
	font-size: 18px;
}

footer{
	width: 100%;
	background: var(--bg-container);
	text-align: center;
	color:rgb(33, 182, 33);
	padding: 1em 0;
	position: absolute;
	bottom: -8em;

}

.footer-logo{
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-logo img{
	width: 60px;
	height: 40px;
	object-fit: contain;
	
	
}

.footer-logo h2{
	font-size: 18px;

}

footer p{
	margin-top: 1em;
}

.company{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 1em;
}

.company p{
	color: rgb(33, 182, 33);
}

.abt{
	display: flex;
	margin: 0.7em 0;
}

.abt a{
	text-decoration: none;
	color: #fff;
	margin: 0 0.5em;
	font-size: 14px;

}

.django-ckeditor-widget{
	width: 100%;
	height: 50%;
	border-radius: 30px;
	margin-bottom: 2em;
	padding: 0.7em 0;
	
}

.all-tags{
	width: 97%;
	text-align: center;
	display: block;
	margin: 1em auto;
}

.tag-container{
	width: 95%;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	background: var(--bg-container);
	

}

.all-tags a{
	width: auto;
	color:rgb(11, 105, 11);
	margin: 0.5em;
	text-decoration: none;
	
}


.all-tags h3{
	margin-bottom: 1em;
}

.rsign{
	display: none;
}


.password-reset{
	width: 30%;
	background: rgb(219, 214, 214);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10em auto;
	padding: 5em 0.5em;
	color: #000;
}

.password-reset h3{
	margin-bottom: 0.7em;
	color: rgb(11, 105, 11);
}

.f-intruct{
	width: 100%;
	font-size: 14px;
	padding: 0.5em;
	margin-bottom: 1em;
}

.password-reset form{

	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

.password-reset input{
	padding: 13px 3px;
	width: 80%;
	border-radius: 5px;
	border: 1px solid rgb(223, 220, 220);
	background: rgb(233, 232, 232);
	margin: 0.5em 0;
}


.password-reset button{
	margin-top: 0.8em;
	background:rgb(11, 105, 11);
	color: #fff;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	width: auto;
	padding: 12px;
	border: none;
	border-radius: 6px;
}




@media (max-width: 68.75em) {
	

	.container{
		width: 95%;
		
		
	}

	.big-screen-nav{
		display: none;
	}

	.head-icon{
		display: block;
		text-align: center;
		width: 14%;
		
	}

	

	
        .search-icon{
		width: 14%;
		
	}

	.search-icon i {
		font-size: 20px;
	}

	.hamburger{
		width: 14%;
		display: block;
		text-align: left;
		cursor: pointer;
		
	}

	
	
	.bar{
	  display: block;
	  width: 23px;
	  height: 3px;
	  padding: 0;
	  margin: 4px 0;
	  -webkit-transition: all 0.5s ease-in-out;
	  transition: all 0.5s ease-in-out;
	  background-color: var(--text-white);;

	
	  }
	
	.hamburger.active .bar:nth-child(2) {
	    opacity: 0;
	}
	
	.hamburger.active .bar:nth-child(1) {
	     transform: translateY(7px) rotate(45deg);
	}
	
	.hamburger.active .bar:nth-child(3) {
	transform: translateY(-7px) rotate(-45deg);
	} 



	.posts-about .container{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
	
	}


	.posts{
		width: 100%;
		
		
	} 


	
        .post-detail{
		width: 100%;
	}

	.post-content .post-title{
		font-size: 1.3em;
	}



	.author-rcm{
		width: 100%;
		margin-top: 1em;
		

		
		
	}
	
	.about-author{
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;
		
	}
	
	.about-author img{
		width: 80px;
		height: 80px;
		border-radius: 50%;
		margin: 0;
		display: block;
		
		
	} 

	.author{
		width: 80%;
		margin: 0 0.5em;
		font-size: 14px;
	}
	
	.author-name{
		text-align: left;
		font-weight: bold;
		font-size: 18px;
		
	}
	
	.social {
		display: flex;
		margin: 0;
	}
	
	.social a{
		margin-right: 0.3em;
		
	}

	.login-regpage{
		width: 60%;
	}

	.login-page{
		width: 45%;
	}

	.login-page p{
		font-size: 18px;
	}

	.Reg-log-page form{
		width: 40%;
	}

	.add-comment button{
		margin-top: 3em;
	}

	.password-reset{
		width: 40%;
	}
	

}


@media (max-width: 52.5em) {

	.head-icon{
		text-align: center;
		width: 20%;
	}

	.head-icon h2{
		font-size: 1.7em;
	}

	.search-icon{
		width: 18%;
		padding: 0 0.1em;
	}

	.hamburger{
		width: 18%;
	}

	.login-page{
		width: 55%;
	}


	.post-content .post-title{
		font-size: 1.2em;
	}

	.add-comment button{
		margin-top: 4em;
	}

	.password-reset{
		width: 45%;
	}

}


@media screen and (max-width: 700px)
{
	.login-page{
		width: 65%;
	}

	.Reg-log-page form{
		width: 50%;
	}

	.dsign{
		display: none;
	}

	.rsign{
		display: block;
		width: 20%;
		padding: 0.7em;
		text-align: center;
		background: rgb(230, 230, 230);
		color:rgb(11, 105, 11);
		font-weight: bold;
		border-radius: 5px;
		position: fixed;
		bottom: 0.2em;
		left: 0.2em;
		z-index: 1;
		cursor: pointer;
	}

	.search-page{
		width: 70%;
	}

	.search-page button{
		width: 12%;
	}

	.like{
		width: 40%;
		font-size: 18px;
	}


	.django-ckeditor-widget{
		width: 98%;
		height: 300px;
		border-radius: 30px;
		margin-bottom: 2em;
		
	}

	.password-reset{
		width: 60%;
	}
	
}


@media screen and (max-width: 600px)
{

	.container{
		width: 96%;
		padding: 0.3em 0.7em;
	}
	.search-icon{
		width: 23%;
	}

	.hamburger{
		width: 23%;
	}

	.head-icon a{
		height: 30px;
	}

	

	.post-title{
		font-size: 16px;
	}

	.post-body{
		font-size: 14px;
	}

	.post-content .post-body{
		font-size: 15px;
	}



	

	.related-post h3{
		font-size: 17px;
		
	}

	.related-post a{
		font-size: 14px;
	}

	.about-author img{
		width: 50px;
		height: 50px;
	}

	.author-name{
		font-size: 16px;
	}

	.author{
		width: 85%;
		margin: 0 0.5em;
	}



	.login-page{
		width: 75%;
	}


	.or-social hr{
		width: 30%;
		margin: 0 0.5em;
	    }


	    .Reg-log-page form{
		width: 65%;
	}

	.action-btns{
		font-size: 14px;
	}

	.tags a{
		font-size: 14px;

	}

	.comments h2{
		font-size: 1.1em;
	}

	.comment-container .user span{
		font-size: 15px;
	}

	.comment-body{
		font-size: 14px;
	}


	.add-comment button{
		margin-top: 5em;
	}

	.password-reset{
		width: 65%;
	}

	    	
	
}


@media screen and (max-width: 500px)
{
	.add-comment button{
		margin-top: 6em;
	}

	.add-comment form h3{
		margin-bottom: 0.5em;
		font-size: 16px;
	}

	.password-reset{
		width: 70%;
	}

}

@media screen and (max-width: 450px)
{


	.search-icon{
		width: 25%;
	}

	.head-icon{
		width: 25%;
	}

	.login-page{
		width: 84%;
	}


	.Reg-log-page form{
		width: 70%;
	}

	.like{
		width: 45%;
		font-size: 16px;
	}

	.add-comment button{
		margin-top: 7em;
		width: 25%;
		font-size: 14px;
	}

	.search-page{
		margin-top: 70px;
	}


	.password-reset{
		width: 75%;
	}


	
}

@media screen and (max-width: 370px)
{
	.add-comment button{
		margin-top: 8em;
		
	}

	.password-reset{
		width: 80%;
	}

}