{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}
{% block content %}


<div class="posts-about">

	<div class="container">



	<div class="posts">
		{% for post in posts %}
		<div class="post-container">
			<div class="post-title"><a href="{% url 'content' post.id %}">{{post.title}}</a></div>
			<div class="post-body">{{post.body|safe|truncatechars:200}}<span class="color-green"><a href="{% url 'content' post.id %}">see more</a></span></div>
			<div class='action-btns'>
				<i class='fas'>&#xf075;</i> <span>{{post.num_comments}}</span>
			</div>
			<div class='tags'>
				<i class="fas fa-tag"></i>
				<div class="tag-names">
				{% for tag in post.tags.all %}
				<a href="{% url 'tagged' tag.slug %}">{{tag.name}}</a>
				{% endfor %}
			        </div>
			</div>
		</div>
		{% endfor %}

                {% if posts.has_next %}
		<div class="paginator">
			{% if posts.has_previous %}
			<div class="num"><a href="?page=1"><i class='fas fa-angle-double-left'></i></a></div>
			<div class="num"><a href="?page={{posts.previous_page_number}}"><i class='fas fa-angle-left'></i></a></div>
			{% endif %}
		      
			{% for num in posts.paginator.page_range %}
			{% if posts.number == num %}
			<div class="c-num"><a href="">{{num}}</a></div>
			{% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
			<div class="num"><a href="?page={{num}}">{{num}}</a></div>
			{% endif %}
			{% endfor %}
			{% if posts.has_next %}
			<div class="num"><a href="?page={{posts.next_page_number}}"><i class='fas fa-angle-right'></i></a></div>
			<div class="num"><a href="?page={{posts.paginator.num_pages}}"><i class='fas fa-angle-double-right'></i></a></div>
			{% endif %}
		      
		</div>
		{% endif %}

		<div class="related-post">
			<h3>Recommended Posts</h3>
			{% for post in recommended %}
			<a>{{post.title}}</a>
			{% endfor %}
			
		</div>
                 
		

	</div>
	<div class="author-rcm">
		<div class="about-author">
			<img src="{% static '/img/vix.jpeg' %}">
			<div class="author">
				<p class="author-name">Uche Ezedinma</p>
				<p>I'm a full stack developer and i love sharing things i learn</p>
				<div class="social">
					<a href="">Gmail</a>
					<a href="">Twitter</a>
					<a href="">Github</a>
				</div>
			</div>

			
		</div>

		
	</div>
</div>
</div>


{% endblock content %}
