{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}

    <section class="create-post-page">
        <div class="register-login-page">
        <h2>Login</h2>
		<form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.errors %}
            <p>username or password not correct</p>
            {% endif %}
            <input placeholder="username" type="text" class="profile-form" name="username">
            <input placeholder="password" type="password" class="profile-form" name="password">
            <button type="submit">submit</button> 
      <div class="forget-psd"> 
                <small><a href="{% url 'password_reset' %}">forget password?</a></small>
                <small><a href="{% url 'register' %}">sign up here...</a></small>
            </div>
        </form>
        
       
    </div>
    </section>
    


{% endblock %}